.container {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 20px;
  position: relative;
}

.details {
  width: 90%;
  margin-top: 20px;
  border: 2px solid var(--color-principal);
  border-radius: 1rem;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.267);
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  position: relative;
}

.columns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listItem {
  margin: 0 5px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -40px;
  left: 30px;
}
.listItem a {
  color: inherit;
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  border-radius: 20px;
  transition: all 600ms ease;
  font-weight: bold;
  font-family: "Sono";
  font-size: 15px;
  border: 2px solid var(--color-principal);
}
.listItem a:hover {
  background-color: var(--color-principal);
  color: black;
  font-weight: bold;
  transform: scale(1.05);
}

.name {
  font-size: 50px;
  text-align: center;
}

.text {
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

@media (max-width:1000px) {
  .container{
    min-height: auto;
  }
  .details{
    grid-template-columns: 0% 100%;
  }
  .card{
    visibility: hidden;
    position: absolute;
  }
}
@media (max-width:430px) {
  .name {
    font-size: 40px;
    text-align: center;
  }
  
  .text {
    font-size: 14px;
    margin: 10px;
    text-align: center;
  }
}