.container{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 16vh;
}

.filter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}